/*  If column is poitiv, make it green.
    If column is negative, make it red.
    On no change, make it white*/
tr{
    color: black;
}

.winner {
    background: green;
    color: white;
}

.loser {
    background: red;
    color: white;
}

.tableHeader {
    background: black;
    color: white;
}